tei-p5-schema/src/main/resources/svg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://www.w3.org/2000/svg" xmlns:ns1="http://www.tei-c.org/ns/1.0"
           xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <xs:import namespace="http://www.tei-c.org/ns/1.0" schemaLocation="tei_svg.xsd"/>
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <xs:element name="svg">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.svg.content">
                    <xs:attributeGroup ref="ns1:attlist.svg"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="g">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.g.content">
                    <xs:attributeGroup ref="ns1:attlist.g"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="defs">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.defs.content">
                    <xs:attributeGroup ref="ns1:attlist.defs"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="desc">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="ns1:attlist.desc"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="title">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="ns1:attlist.title"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="metadata">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="ns1:attlist.metadata"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="symbol">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.symbol.content">
                    <xs:attributeGroup ref="ns1:attlist.symbol"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="use">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.use.content">
                    <xs:attributeGroup ref="ns1:attlist.use"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="switch">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.switch.content">
                    <xs:attributeGroup ref="ns1:attlist.switch"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="image">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.image.content">
                    <xs:attributeGroup ref="ns1:attlist.image"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="style">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="ns1:attlist.style"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="path">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.path.content">
                    <xs:attributeGroup ref="ns1:attlist.path"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="rect">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.rect.content">
                    <xs:attributeGroup ref="ns1:attlist.rect"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="circle">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.circle.content">
                    <xs:attributeGroup ref="ns1:attlist.circle"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="line">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.line.content">
                    <xs:attributeGroup ref="ns1:attlist.line"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ellipse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.ellipse.content">
                    <xs:attributeGroup ref="ns1:attlist.ellipse"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="polyline">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.polyline.content">
                    <xs:attributeGroup ref="ns1:attlist.polyline"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="polygon">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.polygon.content">
                    <xs:attributeGroup ref="ns1:attlist.polygon"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="text">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.text.content">
                    <xs:attributeGroup ref="ns1:attlist.text"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="tspan">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.tspan.content">
                    <xs:attributeGroup ref="ns1:attlist.tspan"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="tref">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.tref.content">
                    <xs:attributeGroup ref="ns1:attlist.tref"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="textPath">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.textPath.content">
                    <xs:attributeGroup ref="ns1:attlist.textPath"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="altGlyph">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="ns1:attlist.altGlyph"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="altGlyphDef">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.altGlyphDef.content">
                    <xs:attributeGroup ref="ns1:attlist.altGlyphDef"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="altGlyphItem">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.altGlyphItem.content">
                    <xs:attributeGroup ref="ns1:attlist.altGlyphItem"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="glyphRef">
        <xs:complexType>
            <xs:attributeGroup ref="ns1:attlist.glyphRef"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="marker">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.marker.content">
                    <xs:attributeGroup ref="ns1:attlist.marker"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="color-profile">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.color-profile.content">
                    <xs:attributeGroup ref="ns1:attlist.color-profile"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="linearGradient">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.linearGradient.content">
                    <xs:attributeGroup ref="ns1:attlist.linearGradient"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="radialGradient">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.radialGradient.content">
                    <xs:attributeGroup ref="ns1:attlist.radialGradient"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="stop">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.stop.content">
                    <xs:attributeGroup ref="ns1:attlist.stop"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="pattern">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.pattern.content">
                    <xs:attributeGroup ref="ns1:attlist.pattern"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="clipPath">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.clipPath.content">
                    <xs:attributeGroup ref="ns1:attlist.clipPath"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="mask">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.mask.content">
                    <xs:attributeGroup ref="ns1:attlist.mask"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="filter">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.filter.content">
                    <xs:attributeGroup ref="ns1:attlist.filter"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feBlend">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feBlend.content">
                    <xs:attributeGroup ref="ns1:attlist.feBlend"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feColorMatrix">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feColorMatrix.content">
                    <xs:attributeGroup ref="ns1:attlist.feColorMatrix"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feComponentTransfer">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feComponentTransfer.content">
                    <xs:attributeGroup ref="ns1:attlist.feComponentTransfer"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feComposite">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feComposite.content">
                    <xs:attributeGroup ref="ns1:attlist.feComposite"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feConvolveMatrix">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feConvolveMatrix.content">
                    <xs:attributeGroup ref="ns1:attlist.feConvolveMatrix"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feDiffuseLighting">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feDiffuseLighting.content">
                    <xs:attributeGroup ref="ns1:attlist.feDiffuseLighting"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feDisplacementMap">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feDisplacementMap.content">
                    <xs:attributeGroup ref="ns1:attlist.feDisplacementMap"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feFlood">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feFlood.content">
                    <xs:attributeGroup ref="ns1:attlist.feFlood"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feGaussianBlur">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feGaussianBlur.content">
                    <xs:attributeGroup ref="ns1:attlist.feGaussianBlur"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feImage">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feImage.content">
                    <xs:attributeGroup ref="ns1:attlist.feImage"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feMerge">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feMerge.content">
                    <xs:attributeGroup ref="ns1:attlist.feMerge"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feMergeNode">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feMergeNode.content">
                    <xs:attributeGroup ref="ns1:attlist.feMergeNode"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feMorphology">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feMorphology.content">
                    <xs:attributeGroup ref="ns1:attlist.feMorphology"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feOffset">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feOffset.content">
                    <xs:attributeGroup ref="ns1:attlist.feOffset"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feSpecularLighting">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feSpecularLighting.content">
                    <xs:attributeGroup ref="ns1:attlist.feSpecularLighting"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feTile">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feTile.content">
                    <xs:attributeGroup ref="ns1:attlist.feTile"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feTurbulence">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feTurbulence.content">
                    <xs:attributeGroup ref="ns1:attlist.feTurbulence"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feDistantLight">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feDistantLight.content">
                    <xs:attributeGroup ref="ns1:attlist.feDistantLight"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="fePointLight">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.fePointLight.content">
                    <xs:attributeGroup ref="ns1:attlist.fePointLight"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feSpotLight">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feSpotLight.content">
                    <xs:attributeGroup ref="ns1:attlist.feSpotLight"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feFuncR">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feFuncR.content">
                    <xs:attributeGroup ref="ns1:attlist.feFuncR"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feFuncG">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feFuncG.content">
                    <xs:attributeGroup ref="ns1:attlist.feFuncG"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feFuncB">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feFuncB.content">
                    <xs:attributeGroup ref="ns1:attlist.feFuncB"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="feFuncA">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.feFuncA.content">
                    <xs:attributeGroup ref="ns1:attlist.feFuncA"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="cursor">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.cursor.content">
                    <xs:attributeGroup ref="ns1:attlist.cursor"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="a">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.a.content">
                    <xs:attributeGroup ref="ns1:attlist.a"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="view">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.view.content">
                    <xs:attributeGroup ref="ns1:attlist.view"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="script">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="ns1:attlist.script"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="animate">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.animate.content">
                    <xs:attributeGroup ref="ns1:attlist.animate"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="set">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.set.content">
                    <xs:attributeGroup ref="ns1:attlist.set"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="animateMotion">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.animateMotion.content">
                    <xs:attributeGroup ref="ns1:attlist.animateMotion"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="animateColor">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.animateColor.content">
                    <xs:attributeGroup ref="ns1:attlist.animateColor"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="animateTransform">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.animateTransform.content">
                    <xs:attributeGroup ref="ns1:attlist.animateTransform"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="mpath">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.mpath.content">
                    <xs:attributeGroup ref="ns1:attlist.mpath"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="font">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.font.content">
                    <xs:attributeGroup ref="ns1:attlist.font"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="font-face">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.font-face.content">
                    <xs:attributeGroup ref="ns1:attlist.font-face"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="glyph">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.glyph.content">
                    <xs:attributeGroup ref="ns1:attlist.glyph"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="missing-glyph">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.missing-glyph.content">
                    <xs:attributeGroup ref="ns1:attlist.missing-glyph"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="hkern">
        <xs:complexType>
            <xs:attributeGroup ref="ns1:attlist.hkern"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="vkern">
        <xs:complexType>
            <xs:attributeGroup ref="ns1:attlist.vkern"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="font-face-src">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.font-face-src.content">
                    <xs:attributeGroup ref="ns1:attlist.font-face-src"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="font-face-uri">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ns1:SVG.font-face-uri.content">
                    <xs:attributeGroup ref="ns1:attlist.font-face-uri"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="font-face-format">
        <xs:complexType>
            <xs:attributeGroup ref="ns1:attlist.font-face-format"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="font-face-name">
        <xs:complexType>
            <xs:attributeGroup ref="ns1:attlist.font-face-name"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="definition-src">
        <xs:complexType>
            <xs:attributeGroup ref="ns1:attlist.definition-src"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="foreignObject">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="ns1:attlist.foreignObject"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
